.nav_menu{
    background-color: var(--primaryColor);
    position:fixed;
    inset-block:0;
    left: -100%;
    background-color:var(--containerColor);
    width: 100%;
    padding: 60px 30px;
 transition: all 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.show_menu{
    left: 0;

}
.nav__link{
    display: flex;
    align-items: center;
    column-gap: 20px;
    border-bottom: 1.5px solid var( --bodyColor );
  padding-block:14px ;
}
.nav__icon,.nav__item{
 color :var(--titleColor);
 font-size: 24px;

}
.nav__item{
    font-weight: var(--weight-500);
}

.active-nav .nav__icon ,
.active-nav .nav__name{
  color:var(--primaryColor)  ;


}
.nav__toggle{
    position: fixed;
    top:30px;
    right: 30px;
    width:20px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--containerColor);
    padding: 12px 10px;

}
.nav__toggle span{
    display: block;
    width: 20px;
    height:2px;
    border-radius:2px;
    background-color: var(--titleColor);
    margin-bottom: 5px;

}
.animate-toggle span:first-child{
    transform: rotate(45deg) translate(6px,4px)

}

.animate-toggle span:nth-child(2){
    display: none;
}
.animate-toggle span:nth-child(3){
   transform: rotate(-45deg) translate(1px,1px);
}

@media (min-width: 1024px){
    .nav_menu{
        all:unset;
        
    }
    .nav__toggle{
        display: none; 
    }.nav{
        
        position: fixed;
        inset-block: 0;
        right: 50px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        
    }
    .nav__item{
        margin-block: 10px;
       
        
    }.nav__link{
        padding: 0;
        border-bottom: none;
        background-color:var(--containerColor);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;

    }.nav__icon{
        font-size: 20px;
        margin-inline: auto;
    }
    .nav__name{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        right:0;
        height: 55%;
        width: 100px;
     background-color: var(--primaryColor);
     line-height: 50px;
     border-radius:30px;
     font-size: var(--small-font-size);
     color:var(--textColor);
     opacity: 0;
     visibility: hidden;
     transition: all 0.6s ease;
     z-index: -1;
    }.nav__link:hover .nav__name{
        right: 40px;
        color:var(--text_white);
        opacity: 1;
     visibility: visible;
     border-radius: 30px 0 0 30px;


    }
    .nav__link:hover,.active-nav{
        background-color: var(--primaryColor);
    }.nav__link:hover .nav__icon,
    .active-nav .nav__icon{
        color: var(--text_white);

    }
}